<html>

  <head>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
    
    <script src="js/houndify-web-sdk.min.js"></script>
  </head>

  <body>

    <div class="ui center aligned basic segment container">
      <h2 class="ui block basic header">Houndify Web SDK Demo</h2>
      <form id="form" class="ui form" action="javascript:void(0);">

        <div class="ui action big labeled fluid input field">
          <input id="query" type="text" placeholder="Click on a microphone icon or type in your query" />
          <button id="textSearchButton" class="ui icon button" onclick="textQuery()"> 
             <i class="search big icon"></i>
          </button>
        </div>


        <div class="ui field" hidden>
          <label>Response object</label>
          <textarea id="responseJSON"></textarea>
        </div>
        <div class="ui field" hidden>
          <label>Search info object</label>
          <textarea id="infoJSON"></textarea>
        </div>
      </form>
    </div>


    <script>     
      
      const jsonElement = document.getElementById("responseJSON");
      const infoElement = document.getElementById("infoJSON");

      const clientID = "QjotHsDom_UXb2Nl3nn24Q==";

      const requestInfo = { 
        ClientID: clientID,
        UserID: "test_user",
        Latitude: 45.4205, 
        Longitude: -75.6928,
        Street: "150 Elgin Strret K2P 1L4",
        City: "Ottawa",
        State: "Ontario",
        Country: "Canada",
        UseClientTime: true
      } 
      
      const HoundifyClient = new Houndify.HoundifyClient({
        
        clientId: clientID, 

        authURL: "/houndifyAuth",
 
        // Voice Activity Detection 
        enableVAD: false,

        textSearchProxy: {
          url: "/textSearchProxy",
          method: "GET"  
        },

        onResponse: function(response, info) {
          if (response.AllResults && response.AllResults[0] !== undefined) {
            jsonElement.value = response.stringify(undefined, 2);
            jsonElement.parentNode.hidden = false;
            infoElement.value = JSON.stringify(info, undefined, 2);
            infoElement.parentNode.hidden = false;
            console.log(response) 
          }
        },

        onError: function(err, info) {
          jsonElement.parentNode.hidden = true;
          infoElement.value = JSON.stringify(info, undefined, 2);
          infoElement.parentNode.hidden = false;
          document.getElementById("voiceIcon").className = "unmute big icon";
          console.log(err)
        }
      });
 
      function textQuery() {
        var query = document.getElementById('query').value;
        HoundifyClient.textSearch.query(query, requestInfo);
        jsonElement.parentNode.hidden = true;
        infoElement.parentNode.hidden = true;
      }
    </script>

  </body>

</html>
